<div id="messages">
  <input type="text" [(ngModel)]="name" placeholder="Your name"/>
  <button class="btn btn-primary" (click)="onSendMessage()">Send Test Message</button>
  <h2>Received messages</h2>
  <ol>
    <li class="message" *ngFor="let message of receivedMessages">
      {{message}}
    </li>
  </ol>
</div>
